<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
    <span class="f-left">  
      <a href="{% if site.baseurl == '/' %}{{ site.url }}{% else %}{{ site.baseurl }}{% endif %}">
        <h1>
          <span>errant</span>Lai
        </h1>
      </a>
    </span>
    <span id="nav-links" class="absolute right bottom">
      <!-- Nav pages -->
	    {% for page in site.pages %}
	      {% if page.layout == "page" %}
	        <a href="{% if site.baseurl == '/' %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}" title="{{ page.title }}">{{ page.title }}</a>
	      {% endif %}
	    {% endfor %}
      
      <!-- Nav links -->
	    {% include link.html %}

    </span>
  </div>
</header>



