---
layout: default
---
<article id="post-page">
	<h2>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}
	<small>
    {% for tag in page.tags %}
    <!-- <a href="/tags/{{ tag }}/">#{{ tag }}</a> -->
    #{{ tag }}
    {% endfor %}
</small>
</time>
	<div class="content">

		{{ content }}
		
	</div>
</article>

